/* Dashboard.css */
.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-sidebar {
  width: 270px;
  background-color: #1e3a56;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-sidebar-project-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dashboard-sidebar-section-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #aaa;
}

.dashboard-nav-link {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  transition: background 0.2s;
}

.dashboard-nav-link:hover,
.dashboard-nav-link.active {
  background-color: #357ab7;
  border-radius: 5px;
}

.dashboard-content-container {
  flex-grow: 1;
  padding: 20px;
  color: #000;
  overflow-y: auto;
}



.dashboard-close-project-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 100px;
}

.dashboard-close-project-btn:hover {
  background-color: #e60000;
}

/* Dropdown styling with Animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideContentDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dashboard-dropdown-container {
  position: relative;
  z-index: 10;
}

.dashboard-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #3b4a5a;
  border: 1px solid #ccc;
  width: 180px;
  display: none;
  flex-direction: column;
  z-index: 999;
  animation: slideDown 0.3s ease-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dashboard-dropdown-container.open .dashboard-dropdown-menu {
  display: flex;
}

.dashboard-dropdown-item {
  padding: 10px;
  color: #f4f4f4;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.dashboard-dropdown-item:hover {
  background-color: #4c6580;
  padding-left: 12px;
}

.dashboard-dropdown-item.active {
  background-color: #4c6580;
  color: white;
  font-weight: bold;
}

.dashboard-container {
  display: flex;
  color: #fff;
}

.dashboard-sidebar {
  width: 170px;
  background-color: #1e3a56;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-sidebar-project-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dashboard-sidebar-section-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #aaa;
}

.dashboard-nav-link {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  transition: background 0.2s;
}

.dashboard-nav-link:hover,
.dashboard-nav-link.active {
  background-color: #357ab7;
  border-radius: 5px;
}