/* General styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

/* Login Page Layout */
.login-container {
    display: flex;
    height: 100vh;
}

/* Left Side */
.login-left {
    flex: 1;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo {
    width: 70%;
    height: auto;
}

/* Right Side */
.login-right {
    flex: 1;
    background: #4267b2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Styling */
.login-form {
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    color: #f9f9f9;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.login-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    white-space: nowrap;
}

.login-subtext {
    color: #a9c2b6;
    font-size: 14px;
    margin-bottom: 20px;
}

.login-link {
    color: #f9f9f9;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

/* Form Group */
.login-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #f9f9f9;
}

.login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff; /* ขอบสีขาว */
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8); /* เปลี่ยนพื้นหลังให้เป็นสีขาวโปร่ง */
    color: #333; /* เปลี่ยนสีตัวอักษรให้เข้มขึ้น */
}

.login-input::placeholder {
    color: rgba(51, 51, 51, 0.6); /* เปลี่ยนสี placeholder ให้เป็นสีเทาเข้ม */
}

.login-input:focus {
    outline: none;
    border-color: #ddd; /* เปลี่ยนสีขอบเมื่อ focus */
    background: #fff; /* เปลี่ยนพื้นหลังเป็นสีขาวล้วน */
}


/* Form Options */
.login-form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.login-forgot-password {
    color: #f9f9f9;
    text-decoration: none;
}

.login-forgot-password:hover {
    text-decoration: underline;
}

/* Button */
.login-button {
    width: 100%;
    padding: 10px;
    background: #7a96d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.login-button:hover {
    background: #365899;
}

/* Toast Position */
.Toastify__toast-container {
    top: 20px;
    right: 20px;
}
