.requirement-title {
  text-align: center;
}

.requirement-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  width: 100%;
  margin: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* ปุ่มใน top-section */
.req-top-section .req-action-buttons {
  justify-content: center;
}

.req-top-section .req-action-buttons button {
  margin: 0 15px 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  padding: 1rem;
  justify-content: center;

}

.req-action-buttons {
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  padding: 1rem;
}

.req-action-buttons {
  display: flex;
  flex-wrap: wrap;
  /* ให้ปุ่มห่อหุ้มเมื่อหน้าจอเล็ก */
  gap: 15px;
  /* เพิ่มช่องว่างระหว่างปุ่ม */
  justify-content: flex-start;
  /* จัดเรียงปุ่มจากซ้ายไปขวา */
}

.req-action-buttons button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* ช่องว่างระหว่างไอคอนและข้อความ */
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #ddd;
  /* ขอบบางๆ ที่ให้ความรู้สึก minimal */
  background-color: white;
  /* พื้นหลังสีขาว */
  color: #333;
  /* สีข้อความเข้ม */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* เงาเล็กน้อยเพื่อเพิ่มมิติ */
}

.req-action-buttons button img {
  width: 25px;
  height: 25px;
}

/* สีสำหรับ Verification */
/* สำหรับกลุ่ม Verification */
.ver-section {
  margin-bottom: 20px;
  border: 1px solid #4CAF50;
  padding: 15px;
  border-radius: 5px;
  background-color: #e8f5e9;
  display: flex;
  gap: 15px;
  /* เพิ่มระยะห่างระหว่างปุ่ม */
}

/* สีสำหรับปุ่ม Create Verification */
.create-verification-button {
  background-color: #4CAF50;
  /* สีเขียวสำหรับ Create Verification */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-verification-button:hover {
  background-color: #388e3c;
  /* สีเข้มเมื่อ hover */
}

/* สีสำหรับปุ่ม Verification List */
.verifylist-button {
  background-color: #2196F3;
  /* สีน้ำเงินสำหรับ Verification List */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verifylist-button:hover {
  background-color: #1976D2;
  /* สีน้ำเงินเข้มเมื่อ hover */
}


/* สำหรับกลุ่ม Validation */
.var-section {
  margin-bottom: 20px;
  border: 1px solid #FF9800;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff3e0;
  display: flex;
  gap: 15px;
  /* เพิ่มระยะห่างระหว่างปุ่ม */
}

/* สีสำหรับปุ่ม Create Validation */
.CreateVar-button {
  background-color: #FF9800;
  /* สีส้มสดใสสำหรับ Create Validation */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.CreateVar-button:hover {
  background-color: #f57c00;
  /* สีส้มเข้มเมื่อ hover */
}

/* สีสำหรับปุ่ม Validation List */
.validation-button {
  background-color: #FF5722;
  /* สีส้มที่เข้มขึ้นสำหรับ Validation List */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.validation-button:hover {
  background-color: #e64a19;
  /* สีส้มเข้มมากขึ้นเมื่อ hover */
}


.other-buttons {
  display: flex;
  flex-wrap: wrap;
  /* ปรับให้ปุ่มขึ้นแถวใหม่เมื่อขนาดหน้าจอลดลง */
  gap: 20px;
  /* เพิ่มช่องว่างระหว่างปุ่ม */
  justify-content: flex-start;
  /* จัดระเบียบปุ่มจากซ้ายไปขวา */
  margin-top: 20px;
}

.other-buttons button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* ช่องว่างระหว่างไอคอนและข้อความ */
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #ddd;
  /* ขอบบางๆ เพื่อความ minimal */
  background-color: white;
  /* พื้นหลังสีขาว */
  color: #333;
  /* สีข้อความเข้ม */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* เงาเล็กน้อย */
}

.other-buttons button img {
  width: 25px;
  height: 25px;
}

/* ปรับแต่งสำหรับ View Verification and Validation */
.viewvervar-button {
  background-color: #8BC34A;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.viewvervar-button:hover {
  background-color: #7CB342;
}

/* สำหรับ Version Control */
.version-control-button {
  background-color: #9E9E9E;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.version-control-button:hover {
  background-color: #757575;
}

/* สำหรับการปรับแต่งเมื่อ hover */
.other-buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* เพิ่มเงาหนาเมื่อ hover */
}


/* กล่องตาราง */
.requirement-table-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  /* เพิ่มความสามารถในการเลื่อนตารางถ้าเกินขอบ */
}

/* ตาราง */
.requirement-table {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.requirement-table th,
.requirement-table td {
  border: 1px solid #ddd;
  padding: 10px 15px;
  text-align: center;
}

.requirement-table th {
  background-color: #f2f2f2;
  color: #333;
}

.requirement-table tr:hover {
  background-color: #f9f9f9;
}




/* ปุ่ม Action */
.action-button {
  background: none;
  border: none;
  padding: 8px;
  margin: 0 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.action-icon {
  font-size: 18px;
  color: #555;
}

.action-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-req .action-icon {
  color: #4caf50;
  /* สีเขียวสำหรับการแก้ไข */
}

.delete-req .action-icon {
  color: #f44336;
  /* สีแดงสำหรับการลบ */
}

.action-button:active {
  transform: scale(0.98);
  /* เอฟเฟกต์ขณะกดปุ่ม */
}

.requirement-table td,
.requirement-table th {
  padding: 10px 15px;
}

/* กล่องค้นหา */
.req-search {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.req-search-input {
  margin-left: 1%;
  width: 30%;
  max-width: 500px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  padding-left: 40px;
  transition: border 0.3s;
}

.req-search-input:focus {
  border-color: #007bff;
  /* เปลี่ยนสีเส้นขอบเมื่อโฟกัส */
}

.search-icon-req {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #888;
  /* สีของไอคอนค้นหา */
}




.history {
  width: 20px;
  height: 20px;
}

.checkmark {
  width: 18px;
  height: 18px;
}

.verify-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.verify-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.checklist {
  width: 18px;
  height: 20px;
}

.add-requirement-button {
  margin-left: 52%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-requirement-button:hover {
  background-color: #f5f5f5;
  border-color: #ccc;
}

.add-req {
  font-size: 18px;
  color: #333;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  max-width: 500px;
  width: 80%;
}

.close-modal-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.close-modal-button:hover {
  background-color: #0056b3;
}

.uploaded-files {
  margin-top: 20px;
}

.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.file-item a {
  text-decoration: none;
  color: #007acc;
  font-weight: bold;
}

.delete-file-button {
  background: none;
  border: none;
  color: #d9534f;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.delete-file-button:hover {
  color: #c9302c;
}

.file-upload-section {
  margin-top: 20px;
}

h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-file {
  margin-right: 30%;
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-file th,
.table-file td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-file th {
  background-color: #f4f4f4;
  color: #333;
}

.table-file tr:hover {
  background-color: #f9f9f9;
}

.download-link {
  color: #007bff;
  text-decoration: none;
}

.download-link:hover {
  text-decoration: underline;
}

.file-upload-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.view-button {
  background-color: #45a049;
}

.download-button {
  background-color: #16ae62;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.3s ease;
  /* Smooth background transition */
  text-align: center;
  /* Center the text */
}

.download-button:hover {
  background-color: #44d68d;
  /* Darker red on hover */
}

.download-button:active {
  background-color: #16ae62;
  /* Even darker red when button is clicked */
}

.download-button:focus {
  outline: none;
  /* Remove outline on focus */
}

.download-button:disabled {
  background-color: #e0e0e0;
  /* Light gray background when disabled */
  cursor: not-allowed;
  /* Disable cursor */
}

/* Container for the header and button */
.upload-section {
  display: flex;
  align-items: center;
  /* Vertically align items */

  /* Space between the heading and button */
  margin-bottom: 20px;
  /* Space between this section and the next */
}

/* Heading Style */
.upload-section h3 {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  /* Dark color for heading */
  margin: 0;
  /* Remove default margin */
}

/* Button Style */
.upload-req {
  align-items: center;
  background-color: #1e3a8a;
  /* Dark Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
  margin-left: 10px;
}

.upload-req:hover {
  background-color: #1e40af;
  transform: scale(1.05);
}

.upload-req:focus {
  outline: none;
}

.upload-req:disabled {
  background-color: #a1b3d1;
  cursor: not-allowed;
}

.upload-req .fa-upload {
  margin-right: 8px;
}

.delete-file-button {
  background-color: #ff4d4f;
  /* Red background for delete action */
  border: none;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Style for delete button on hover */
.delete-file-button:hover {
  background-color: #d9363e;
  /* Darker red on hover */
  transform: scale(1.05);
  /* Slightly increase size on hover */
}

/* Style for the delete icon */
.delete-file {
  font-size: 18px;
}

/* Modal Content */
.modal-content-reviewreq {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* Close Button */
.close-reviewreq {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.close-reviewreq:hover {
  transform: rotate(90deg);
}

/* Title */
h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

/* Table */
.verified-requirements-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.verified-requirements-table th,
.verified-requirements-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

.verified-requirements-table th {
  background-color: #f5f5f5;
  color: #666;
  font-weight: 500;
}

.verified-requirements-table td {
  color: #333;
}

/* Export Button - Positioned Bottom Right */
.ExportPDF {
  margin: 25px 0 0 75%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ExportPDF:hover {
  background-color: #45a049;
}

/* No requirements message */
p {
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}

.table-file td .download-file-button {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.table-file td .download-file-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.table-file td .delete-file-button {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.table-file td .delete-file-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.table-file td .view-requirement-button {
  background-color: #6c757d;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 5px;
}

.table-file td .view-requirement-button:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}

/* สีพื้นฐานสำหรับปุ่ม */
.status-button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.3s ease;
  text-transform: capitalize;
  /* ตัวหนังสือแบบปกติ */
  box-shadow: none;
  /* ไม่มีเงา */
}

.status-button:hover {
  opacity: 0.85;
  /* ลดความทึบเมื่อ hover */
  transform: scale(1.05);
  /* เพิ่มขนาดเล็กน้อยเมื่อ hover */
}

/* สีของสถานะต่างๆ */
.status-verified {
  color: #28a745;
  /* สีเขียว */
  border-color: #28a745;
  /* ขอบสีเขียว */
}

.status-validated {
  color: #17a2b8;
  /* สีฟ้า */
  border-color: #17a2b8;
  /* ขอบสีฟ้า */
}

.status-working {
  color: #fd7e14;
  /* สีส้ม */
  border-color: #fd7e14;
  /* ขอบสีส้ม */
}

.status-waiting-ver {
  color: #ffc107;
  /* สีเหลือง */
  border-color: #ffc107;
  /* ขอบสีเหลือง */
}

.status-val-inprogress {
  color: #6f42c1;
  /* สีม่วง */
  border-color: #6f42c1;
  /* ขอบสีม่วง */
}

.status-baseline {
  color: #424242;
  /* สีเทาเข้ม */
  border-color: #424242;
}



.clearsearch-req {
  cursor: pointer;
  width: 25px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

.alert-message {
  margin-right: 70%;
  color: red;
  margin-top: 10px;
  font-size: 16px;
}