.upload-file-container {
    position: relative;
    width: 400px;
    padding: 30px;
    background: linear-gradient(to bottom right, #f0f4ff, #d9e8ff);
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
}

.upload-file-container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.upload-file-header {
    font-size: 24px;
    font-weight: bold;
    color: #003d99;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.upload-file-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
    color: #ff5e57;
    border: none;
    background: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.upload-file-close:hover {
    color: #e8453c;
    transform: scale(1.2);
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    width: 200px;
    height: 50px;
    background: linear-gradient(to right, #007acc, #005fa3);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.upload-button:hover {
    background: linear-gradient(to right, #005fa3, #004078);
    transform: translateY(-3px);
}

.upload-button-icon {
    margin-right: 8px;
    font-size: 20px;
}

.file-name {
    font-size: 14px;
    color: #4d4d4d;
    margin-top: 10px;
    text-align: center;
    word-break: break-word;
    font-style: italic;
}

.save-button {
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #28a745, #218838);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.save-button:hover {
    background: linear-gradient(to right, #218838, #1c6e32);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.upload-file-footer {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 20px;
    font-style: italic;
}

.upload-text {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.upload-file-container::before {
    content: "";
    position: absolute;
    top: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: rgba(0, 122, 204, 0.2);
    border-radius: 50%;
    z-index: 0;
}

.upload-file-container::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    background: rgba(40, 167, 69, 0.2);
    border-radius: 50%;
    z-index: 0;
}

.upload-file-container > * {
    position: relative;
    z-index: 1;
}
